.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin:0;
    width: 100%;
  }
  .diagnostic{
    width:30%;
}
.floatRight{
    float:right;
}
.logoMain{
    text-align: center;
    display: block;
    margin: 0 auto;
} 
.widthCien{
    width:100%;
}
.loginContainer{
    text-align: center;
    padding:20px;
    display:table;
    margin:0 auto;
    width:90%;
}
.inlineBlock{
    display: inline-block;
    margin:0 10px;
}
.foto{
    width:100%;
}
.stars{
    width:100%;
}
.submit{
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    appearance: none;
    z-index: 999;
}
.toolbarTitle{
}
.smallWidth{
    width:110px;
    padding-top: 20px;
    font-weight: 700;
    white-space: normal !important;
}
.miniWidth{
    width:10%;
}
.normalWidth{
    width:25%;
}
.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.moduleContainer{
    text-align: center;
    padding:20px;
    display:table;
    margin:0 auto;
    width:99%;
}
.paperCanchas{
    display: table;
    margin:0 auto;
    text-align: center;
    width:100%;
}
.submitBtn{
    margin:0 auto;
    text-align: center;
    padding:20px;
}
.paperContainer{
    text-align: center;
    padding:20px;
    display:table;
    margin:0 auto;
    width:95%;
}
.select{
    text-align: left;
}
.paddingText{
    padding:5px;
}
.btnModule{
    padding:20px;
}
.citysContainer{
    display:table;
    margin:0 auto;
    width:100%;
    text-align: center;
}
.paginationContainer{
    display: table;
    margin: 0 auto;
    text-align: center;
}
@media (max-width:414px) {
    .toolbarTitle{
        max-width: 256px !important;
    }
}